* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url(../img/Layer-57.jpg);
    background-size: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
    position: relative;
    width: 1024px;
    margin: 0 auto 2em;
}

/* _____________________MENU________________________ */

nav {
    height: 100%;
    position: relative;
}

nav ul li a:hover{
    color: black;
}

nav ul li a {
    color: white;
}

/* ___________________TOPMENU________________________ */


nav ul.topmenu {
    display: block;
    margin-left: 70px;
    margin-right: 66px;
    margin-top: 26px;
    margin-bottom: 36px;
}

nav ul.topmenu > li {
    display: inline-block;
    font: 28px 'Pathway Gothic One';
    text-transform: uppercase;
    padding: 20px;
    line-height: 140px;
}

nav ul.topmenu > li a {
    text-decoration: none;
}

ul.topmenu > li:nth-child(1) {
    margin-left: 10px;
    margin-right: 13px;
}

ul.topmenu > li:nth-child(2) {
    margin-right: 13px;
}

ul.topmenu > li:nth-child(3) {
    margin-right: 100px;
}

ul.topmenu > li:nth-child(4) {
    margin-left: 100px;
    margin-right: 12px;
}

ul.topmenu > li:nth-child(5) {
    margin-right: 15px;
}

ul.topmenu > li:nth-child(6) {
    margin-right: 10px;
}

/* ________________________logo_________________________ */

.logo {
    position: absolute;
    top: 23px;
    left: 444px;
    line-height: 140px;
    width: 140px;
    background: white;
    text-align: center;
    border-radius: 50%;
    font-size: 60px;
    text-transform: uppercase;
    font-family: Dorsa;
}

/* ____________________DROPDOWN MENU____________________ */

.dropmenu {
    position: relative;
}

nav ul.dropmenu {
    position: absolute;
    display: none;
    top: 115px;
    left: 202px;
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.topmenu li:hover ul {
    position: absolute;
    display: block;
    top: 115px;
    left: 202px;
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul.dropmenu > li {
    display: block;
    line-height: 25px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Pathway Gothic One';
    text-align: center;
}

nav ul.dropmenu > li a {
    text-decoration: none;
}

/* _______________________triangle_____________________ */

.triangle-top {
    visibility: hidden;
    position: absolute;
    top: 110px;
    left: 225px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent white transparent;
}

.topmenu li:hover div.triangle-top {
    visibility: visible;
    position: absolute;
    top: 110px;
    left: 225px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent white transparent;
}

/* ______________________WRAPPER__________________ */
.wrapper {
    background-color: white;
    height: 100%;
}


/* _______________________ARTICLE__________________ */


figure.slider {
    background-color: white;
    display: block;
    height: 100%;
    position: relative;
    font-size: 0;
}

figure.slider img {
    margin: 61px 61px 50px 61px;
}

p.link-on-places {
    position: absolute;
    top: 280px;
    left: 75px;
    text-transform: uppercase;
    line-height: 55px;
}

p.link-on-places a {
    text-decoration: none;
}

p.link-on-places span:first-child {
    font-size: 22px;
    font-family: 'Pathway Gothic One';
    color: black;
}

p.link-on-places span:last-child {
    font-size: 34px;
    font-family: 'Pathway Gothic One';
    color: white;
}



/* _____________________________controls_________________________ */

.wrapper-circle {
    position: absolute;
    top: 730px;
    left: 98px;
    font-size: 0px;
}


.halfCircleLeft{
    text-align: center;
    display: inline-block;
    line-height:86px;
    width:43px;
    border-radius: 90px 0 0 90px;
    background: #38afe5;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.halfCircleRight{
    text-align: center;
    display: inline-block;
    line-height:86px;
    width:43px;
    border-radius: 0 90px 90px 0;
    background:#38afe5;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.halfCircleLeft:hover {
    opacity: .7;
}
.halfCircleRight:hover {
    opacity: .7;
}

.halfCircleRight::before {
    content: '\f061';
    font-family: FontAwesome;
    font-size: 15px;
    font-weight: 100;
}

.halfCircleLeft::after {
    content: '\f060';
    font-family: FontAwesome;
    font-size: 15px;
    font-weight: 100;
}



/* ______________________________FLEXBOX_________________________ */

article.cities {
    display: block;
    background: white;
    margin-left: 61px;
    margin-right: 61px;
    margin-bottom: 136px;
}

article.cities h1 {
    margin-bottom: 46px;
}

div.flexbox img {
    display: block;
}

h1 {
    font-size: 31px;
    font-family: 'Pathway Gothic One';
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
}
div.flexbox {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.fig-city {
    position: relative;
}

figure.img1 h2 {
    font-weight: 100;
    font-size: 30px;
    font-family: 'Open Sans';
    text-align: center;
    margin-top: 14px;
    margin-bottom: 14px;
}

figure.img1 p {
    font-size: 10.5px;
    font-family: 'arial';
    font-weight: 100;
    line-height: 15px;
    text-align: center;
}

figure.img1 div {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: #193149;
    width: 146px;
    height: 270px;
    overflow: hidden;
    color: white;
}

figure.img1:hover div {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    background: #193149;
    width: 146px;
    height: 270px;
    overflow: hidden;
    color: white;
}

button {
    width: 60px;
    line-height: 20px;
    margin-right: 14px;
    margin-top: 28px;
    float: right;
    border-radius: 5px;
    background: white;
    font-family: arial;
    font-size: 12px;
}

/* __________________________TO TOP BUTTON_____________________ */



.to-top {
    width: 100%;
    height: 10px;
    display: table;
   position: sticky;
   top: 1px;
   left: 1px;

}

div.to-top a {
    /* box-sizing: border-box; */
    position: fixed;
    line-height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: #38afe5;
    bottom: 55px;
    margin-left: 980px;
    text-decoration: none;
    text-align: center;
    color: white;
    /* width: 30px;
    line-height: 30px;
    color: white;
    text-decoration: none;
    display: block;
    position: fixed;
    text-align: center;
    right: 400px;   
    bottom: 50px;
    text-align: center;
    background-color: #38afe5;
    border-radius: 50%; */
}

div.to-top a::before {
    /* color: white; */
    content: "\f077";
    font-family: FontAwesome;
}