* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
    background-image: url(../img/Layer57.png);
    background-size: auto;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
}

/* _________________________TOPMENU_________________________ */

header nav {
    position: relative;
}

.wrapper { 
    width: 1024px;
    margin: 0 auto 2em;
}

header nav {
    margin-top: 44px;
    display: block;
    position: relative;
}

header {
    margin-bottom: 50px;
}

nav ul.topmenu {
    display: flex;
    flex-flow: row;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

header nav ul.topmenu li a {
    text-decoration: none;
    color: white;
}

header nav ul.topmenu li:hover a {
    color: black;
}

nav ul.topmenu > li {
    font: 28px 'Pathway Gothic One';
    text-transform: uppercase;
    line-height: 140px;
}

nav ul.topmenu > li:nth-child(1) {
    margin: 0 30px;
}
nav ul.topmenu > li:nth-child(2) {
    margin: 0 30px;
}
nav ul.topmenu > li:nth-child(3) {
    margin: 0 120px 0 30px;
}

nav ul.topmenu > li:nth-child(4) {
   margin: 0 30px 0 120px;
    
}
nav ul.topmenu > li:nth-child(5) {
    margin: 0 30px;
}

nav ul.topmenu > li:nth-child(6) {
    margin: 0 30px;
}

/* _________________________logo_________________________ */

header h1 {
    position: absolute;
    top: 5px;
    left: 440px;
    background-color: white;
    width: 140px;
    line-height: 140px;
    text-align: center;
    border-radius: 50%;
    font-family: 'Dorsa';
    font-size: 60px;
    font-weight: 100;
    text-transform: uppercase;
}

/* _________________________DROPMENU_________________________ */

ul.dropmenu {
    visibility: hidden;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 9px 9px;
    background: white;
    border-radius: 3px;
    text-align: center;
    left: 198px;
    top: 89px;
}

ul.topmenu li:hover ul {
    visibility: visible;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 9px 9px;
    background: white;
    border-radius: 3px;
    text-align: center;
    left: 198px;
    top: 89px;
}

ul.dropmenu li {
    line-height: 23px;
    font-size: 20px;
    font-family: 'Pathway Gothic One';
}

header nav ul li ul.dropmenu li a {
    color: black;
}

header nav ul li ul.dropmenu li:hover {
    background: rgb(226, 226, 226);
}

/* _________________________triangle_________________________ */

.triangle-up {
    visibility: hidden;
    position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
    border-bottom: 8px solid white;
    top: -5px;
    left: 28px;
}

.topmenu li:hover div.triangle-up {

    visibility: visible;
    position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
    border-bottom: 8px solid white;
    top: -5px;
    left: 28px;
}

/* _________________________MAIN_________________________ */


section.content {
    flex: 2.5;
    margin-top: 94px;
    margin-left: 60px;
    margin-right: 40px;
}

main {
    background-color: white;
    display: flex;
    flex-flow: row;
}

.head-1 {
    display: flex;
    align-items: baseline;
}

small {
    margin-left: auto;
}

.figure-text-1 { 
    display: flex;
}

aside {
    flex: 1;
}

.head-2 {
    display: flex;
    align-items: baseline;
}

.figure-text-2 {
    display: flex;
}

time {
    background: #38afe5;
    height: 30px;
    width: 30px;
    font-size: 9px;
    font-family: arial;
    text-transform: uppercase;
    border-radius: 50px;
    text-align: center;
    padding-top: 5px;
    color: white;
    margin-right: 10px;
}

main h2 {
    font-size: 32px;
    font-family: 'Pathway Gothic One';
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 40px;
}

h3 {
    font-family: arial;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 100;
}

article.post-2 h3 {
margin-top: 40px;
}

article.post-2 {
    margin-bottom: 30px;
}

address {
    font-style: normal;
    font-family: arial;
    font-weight: 100;
    font-size: 10px;
}

.head-1, .head-2 {
    margin-bottom: 15px;
}

h4 {
    font-family: arial;
    font-weight: 100;
    font-size: 12.8px;
    margin-bottom: 15px;
}

p {
    font-family: arial;
    font-weight: 100;
    font-size: 10.4px;
    line-height: 15px;
    margin-bottom: 15px;
}

figure {
    margin-right: 20px;
    margin-bottom: 88px;
}

button {
    width: 65px;
    line-height: 20px;
    background: #fcf5f7;
    border-radius: 5px;
}

small {
    font-size: 10px;
    font-family: arial;
    margin-right: 60px;
}


/* _________________________ASIDE_________________________ */

aside {
    margin-top: 94px;
}

aside li {
    list-style-type: none;
    font-family: arial;
    font-size: 13px;
    line-height: 30px;
}

aside li::before {
    content: '\2192';
    color: #38afe5;
}

aside h2:last-of-type {
    margin-top: 40px;
}


/* _________________________FOOTER_________________________ */

footer {
    display: flex;
    flex-direction: column;
}

nav.list {
    background-color: #30455b;
}

nav.list ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 46px 186px 49px 138px;
}

nav.list li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Open sans', sans-serif;
    font-size: 16px;
}

nav.list li a {
    color: white;
    text-decoration: none;
}

nav.social-links ul {
    list-style: none;
}

.buttons li a {
    background: url(../img/4sprites.png) no-repeat;
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-position: -70px -70px;
}

nav ul.buttons li.button-2 a {
    background-position: -10px -10px;
}


nav ul.buttons li.button-3 a {
    background-position: -70px -10px;
}

nav ul.buttons li.button-4 a {
    background-position: -10px -70px;
}

nav ul.buttons li.button-1:hover a {
    filter: saturate(8);
}

nav ul.buttons li.button-2:hover a {
    filter: saturate(8);
}


nav ul.buttons li.button-3:hover a {
    filter: saturate(8);
}

nav ul.buttons li.button-4:hover a {
    filter: saturate(8);
}


nav.social-links ul.buttons li {
    margin: 25px 3px;
}
nav.social-links ul.buttons {
    display: flex;
    justify-content: center;
}

nav.social-links {
    text-align: center;
}

nav.social-links address {
    font-size: 12px;
    font-family: arial;
    font-weight: 100;
}

/* _________________________to top button_________________________ */

.to-top {
    line-height: 30px;
    width: 30px;
    background: #38afe5;
    position: fixed;
    bottom: 285px;
    margin-left: 975px;
    border-radius: 50px;
    text-align: center;
    color: white;
}

.to-top a {
    color: white;
}

nav.social-links address {
    color: white;
    margin: 0;
    padding: 0;
}
